torch
torchvision
ur_rtde
pymodbus==2.5.3
scipy
joblib
tqdm
opencv-python
opencv-contrib-python
timm
matplotlib
tensorboard
pytransform3d
pyrealsense2
plotly
ipywidgets #　windowsでは　別途rustのインストールが必要

git+https://github.com/facebookresearch/segment-anything.git